<div class="alert alert-success" ng-show="type === 'success'" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    {{msg}}
</div>
<div class="alert alert-info" ng-show="type === 'info'" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    {{msg}}
</div>
<div class="alert alert-warning" ng-show="type === 'warning'" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    {{msg}}
</div>
<div class="alert alert-danger" ng-show="type === 'danger'" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    {{msg}}
</div>