{% extends "index.html" %}
{% block title %}Import Data{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="/static/bower_components/blueimp-file-upload/css/jquery.fileupload.css">
    <style type="text/css">
        .form-inline .form-group {
            vertical-align: top;
            margin-right: 15px;
        }
    </style>
{% endblock %}
{% block content %}
    <h2>Import data</h2>
    <div id="status" class="alert alert-info hide" role="alert">...</div>
    <form id="uploadForm" class="form-inline">
        <div class="form-group">
            <label for="normalization">Solar Normalization</label>
            <select id="normalization" name="normalization" class="form-control">
                <option value="Lodders et al. (2009)">Lodders et al. (2009)</option>
                <option value="Anders & Grevesse (1989)">Anders & Grevesse (1989)</option>
                <option value="Anders & Grevesse (1989), Fe = 7.47">Anders & Grevesse (1989), Fe = 7.47</option>
                <option value="Grevesse & Sauval (1998)">Grevesse & Sauval (1998)</option>
                <option value="Asplund et al. (2009)">Asplund et al. (2009)</option>
            </select>
        </div>
        <div class="form-group">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select file...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="file" data-url="/upload">
        </span>

            <p class="help-block">See below for supported formats</p>
        </div>
        <button type="submit" id="uploadSubmitBtn" class="btn btn-default">Upload</button>
    </form>

    <h2>Supported Formats</h2>
    <h3>Hypatia</h3>
    <pre>
    Star: hip = 7444
    hd = 9712
    bd = B+40  328
    dist (pc) = 120.048
    RA = 23.969
    Dec = 41.076
    Position = [-46.171, 107.209, -28.036]
    UVW = (9999.00, 9999.00, 9999.00)
    Disk component: thin
    Spec Type = K1III
    Vmag = 999.0
    B-V = 1.122
    FeH 7.29 [Adamow et al. (2014)]
    OH 8.8 [Adamow et al. (2014)]
    MgH 7.64 [Adamow et al. (2014)]
    AlH 6.43 [Adamow et al. (2014)]
    CaH 6.2 [Adamow et al. (2014)]
    TiH 5.14 [Adamow et al. (2014)]
</pre>

    <h3>Exo Planets</h3>
    <pre>
    Star: hip = 77783
    hd = 142245
    bd = B+15 2925
    dist (pc) = 109.529
    RA = 238.235
    Dec = 15.431
    Position = [-91.086, 52.929, 29.975]
    UVW = (-1.00, -24.40, 19.80)
    Disk component: thin
    Spec Type = K0
    Vmag = 7.6302
    B-V = 1.036
    Teff = 4878.0
    logg = 3.3
    mass(M_S) = 1.69
    Vsini (km/s) = 2.66
    Multiple planets (0=N, 1=Y, 2=NA) = 0
    [b] M_p = 1.89038 +- 0.218694(M_J), P = 1299.0 +- 48.0(d), e = 0.0 +- 0.16, a = 2.77628 +- 0.0948437(AU)
    FeH 7.58 [Adamow et al. (2014)]
    OH 8.85 [Adamow et al. (2014)]
    MgH 7.65 [Adamow et al. (2014)]
    AlH 6.52 [Adamow et al. (2014)]
    CaH 6.44 [Adamow et al. (2014)]
    TiH 5.12 [Adamow et al. (2014)]
</pre>

    <p>Note: Here 9999.00 value for UVW and 999.0 for any other column are considered NULL or empty values</p>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>-->
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <!-- file upload-->
    <script src="/static/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>


    <script type="text/javascript">
        $('#fileupload').fileupload({
            dataType: 'json',
            autoUpload: false,
            add: function (e, data) {
                $("#uploadSubmitBtn").click(function () {
                    $(this).attr('disabled', true);
                    data.submit();
                    // IMPORTANT: The below clears the file properly. Form reset or any other approach did not work :(
                    $("#fileupload").replaceWith('<input id="fileupload" type="file" name="file" data-url="/upload">')
                });
            },
            always: function (e, data) {
                if (!data.errorThrown)
                    $("#status").removeClass('hide').text(`Imported ${data.files[0].name} (${data.files[0].size}B). `).append(`<a href="/log/${data.result.log}" target="_blank" class="alert-link">Download details of this import</a>`);
                else
                    $("#status").removeClass('hide').text('Unable to import. Try to remember as much sequence of operations you have done and share it with the developer.')

                $("#uploadSubmitBtn").attr('disabled', false);
            }
        });
    </script>
{% endblock %}