{% extends "index.html" %}
{% block title %}Import Data{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/bower_components/blueimp-file-upload/css/jquery.fileupload.css">
{% endblock %}
{% block content %}
<h2>Import data</h2>
<div id="status" class="alert alert-info hide" role="alert">...</div>
<form id="uploadForm">
    <div class="form-group">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select file...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="file" data-url="/upload">
        </span>

        <p class="help-block">See below for supported format. Exo planets - Coming Soon!</p>
    </div>
    <button type="submit" id="uploadSubmitBtn" class="btn btn-default">Submit</button>
</form>

<h2>Supported Format</h2>
<pre>
    Star: hip = 7444
    hd = 9712
    bd = B+40  328
    dist (pc) = 120.048
    RA = 23.969
    Dec = 41.076
    Position = [-46.171, 107.209, -28.036]
    UVW = (9999.00, 9999.00, 9999.00)
    Disk component: thin
    Spec Type = K1III
    Vmag = 999.0
    B-V = 1.122
    FeH 7.29 [Adamow et al. (2014)]
    OH 8.8 [Adamow et al. (2014)]
    MgH 7.64 [Adamow et al. (2014)]
    AlH 6.43 [Adamow et al. (2014)]
    CaH 6.2 [Adamow et al. (2014)]
    TiH 5.14 [Adamow et al. (2014)]
</pre>
<p>Note: Here 9999.00 value for UVW and 999.0 for any other column are considered NULL or empty values</p>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>-->
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!--<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!-- file upload-->
<script src="/static/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>


<script type="text/javascript">
    $('#fileupload').fileupload({
        dataType: 'json',
        autoUpload: false,
        add: function (e, data) {
            $("#uploadSubmitBtn").click(function () {
                $(this).attr('disabled', true);
                data.submit();
                // IMPORTANT: The below clears the file properly. Form reset or any other approach did not work :(
                $("#fileupload").replaceWith('<input id="fileupload" type="file" name="file" data-url="/upload">')
            });
        },
        always: function (e, data) {
            if (!data.errorThrown)
                $("#status").removeClass('hide').text(`Imported ${data.files[0].name} (${data.files[0].size}B). `).append(`<a href="/log/${data.result.log}" target="_blank" class="alert-link">Download details of this import</a>`);
            else
                $("#status").removeClass('hide').text('Unable to import. Try to remember as much sequence of operations you have done and share it with the developer.')

            $("#uploadSubmitBtn").attr('disabled', false);
        }
    });
</script>
{% endblock %}