{% extends "index.html" %}
{% block title %}Visualize Data{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{% raw %}
<div ng-app="viz">
    <form ng-controller="VisualizationController as v">
        <div class="form-inline">
            <h3>HIP of the star you want to visualize?</h3>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" ng-model="hip" ng-change="visibility.showStarGo = true"
                           placeholder="HIP of the star" autofocus>
                </div>
                <button type="button" class="btn btn-primary" aria-label="submit hip" ng-show="visibility.showStarGo"
                        ng-click="getElements()">Go
                </button>
            </div>
        </div>

        <div ng-hide="visibility.showStarGo">
            <h3>Select catalogs
                 <span class="badge">{{(catalogs.buttons | filter: {pressed: true}).length}}</span>
            </h3>
            <button-group data-info="catalogs" data-selection-change="updateChart()"></button-group>
        </div>

        <div ng-hide="visibility.showStarGo">
            <h3>Pick elements for X-axis</h3>
            <button-group data-info="xaxis" data-selection-change="updateChart()"></button-group>
        </div>

        <div ng-hide="visibility.showStarGo">
            <h3>For Y-axis?</h3>
            <button-group data-info="yaxes" data-selection-change="updateChart()"></button-group>
        </div>

        <div>
            <h3>And here you go...</h3>
            <div class="panel panel-default">
                <div class="panel-body" id="chart" style="width: 100%; height: 500px; font-size: 11px;">
                    {{chartData | json}}
                </div>
            </div>
        </div>

        <div ng-show="true">
            <h4>X-Axis</h4>
            <div>{{xaxis.buttons | json}}</div>
            <h4>Y-Axis</h4>
            <div>{{yaxes.buttons | json}}</div>
        </div>
    </form>
</div>
{% endraw %}
<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script type="text/javascript" src="/static/bower_components/amcharts/dist/amcharts/xy.js"></script>
<script type="text/javascript" src="/static/bower_components/amcharts/dist/amcharts/themes/dark.js"></script>

<script type="text/javascript">
    (function (angular, AmCharts) {
        const app = angular.module('viz', []);

        const defaultVisibility = {
            showChart: true,
            showStarGo: true
        };

        app.controller('VisualizationController', function ($scope, StarService) {
            $scope.visibility = defaultVisibility;
            $scope.catalogs = {
                aria_label: 'which catalogues to use?',
                buttons: [{value: 1, display: 'Catalogue 1', pressed: true},
                    {value: 2, display: 'Catalogue 2', pressed: true},
                    {value: 3, display: 'Catalogue 3', pressed: true}]
            };
            $scope.yaxes = {
                aria_label: 'elements for y axis',
                buttons: []
            };
            $scope.xaxis = {
                aria_label: 'elements for x axis',
                buttons: []
            };

            $scope.updateChart = function () {
                let cids = $scope.catalogs.buttons.filter(b => b.pressed).map(c => c.value);
                let xelems = $scope.xaxis.buttons.filter(b => b.pressed).map(c => c.value);
                let yelems = $scope.yaxes.buttons.filter(b => b.pressed).map(c => c.value);

                if(xelems.length == 0 || yelems.length == 0) return;

                let elems = new Set(xelems.concat(yelems))
                StarService.getCompositions($scope.hip, [...elems]).then(function (compositions) {
                    $scope.chartData = compositions;
                }, function (error) {
                    console.log(error);
                });
            };

            $scope.getElements = function (e) {
                if ($scope.hip.trim().length == 0)
                    return;

                StarService.getElements($scope.hip).then(function (data) {
                    $scope.xaxis.buttons = data.elements.map(e => ({value: e, display: e}))
                    $scope.yaxes.buttons = data.elements.map(e => ({value: e, display: e}))
                    $scope.visibility.showStarGo = false;
                }, function (errors) {
                    console.log(errors);
                });
            };
        });

        app.directive('buttonGroup', function () {
            return {
                restrict: 'E',
                scope: {
                    info: '=',
                    onlyone: '=',
                    selectionChange: '&',
                    name: '@'
                },
                templateUrl: '/partials/_button-group.html'
            }
        });

        app.factory('StarService', function ($http, $q) {
            return {
                getElements: function (hip) {
                    var deferred = $q.defer();
                    var url = '/star/' + hip + '/elements';
                    $http.get(url).success(function (data) {
                        deferred.resolve(data);
                    }).error(function (data) {
                        deferred.reject(data);
                    });
                    return deferred.promise;
                },
                getCompositions: function (hip, elements) {
                    var deferred = $q.defer();
                    var url = `/star/${hip}/compositions`;
                    let config = {
                        params: {'elements': elements}
                    }
                    $http.get(url, config).success(function (data) {
                        deferred.resolve(data);
                    }).error(function (data) {
                        deferred.reject(data);
                    });
                    return deferred.promise;
                }
            }
        });

        // Charting
        var chart = AmCharts.makeChart("chart", {
            "type": "xy",
            "theme": "chalk",
            "marginRight": 80,
            "dataDateFormat": "YYYY-MM-DD",
            "startDuration": 1.5,
            "trendLines": [],
            "balloon": {
                "adjustBorderColor": false,
                "shadowAlpha": 0,
                "fixedPosition":true
            },
            "graphs": [{
                "balloonText": "<div style='margin:5px;'><b>[[x]]</b><br>y:<b>[[y]]</b><br>value:<b>[[value]]</b></div>",
                "bullet": "diamond",
                "id": "AmGraph-1",
                "lineAlpha": 0,
                "lineColor": "#b0de09",
                "valueField": "aValue",
                "xField": "date",
                "yField": "ay"
            }, {
                "balloonText": "<div style='margin:5px;'><b>[[x]]</b><br>y:<b>[[y]]</b><br>value:<b>[[value]]</b></div>",
                "bullet": "round",
                "id": "AmGraph-2",
                "lineAlpha": 0,
                "lineColor": "#fcd202",
                "valueField": "bValue",
                "xField": "date",
                "yField": "by"
            }],
            "valueAxes": [{
                "id": "ValueAxis-1",
                "axisAlpha": 0
            }, {
                "id": "ValueAxis-2",
                "axisAlpha": 0,
                "position": "bottom",
                "type": "date",
                "minimumDate": new Date(2014, 11, 31),
                "maximumDate": new Date(2015, 0, 13)
            }],
            "allLabels": [],
            "titles": [],
            "dataProvider": [{
                "date": "2015-01-01",
                "ay": 6.5,
                "by": 2.2,
                "aValue": 15,
                "bValue": 10
            }, {
                "date": "2015-01-02",
                "ay": 12.3,
                "by": 4.9,
                "aValue": 8,
                "bValue": 3
            }, {
                "date": "2015-01-03",
                "ay": 12.3,
                "by": 5.1,
                "aValue": 16,
                "bValue": 4
            }, {
                "date": "2015-01-04",
                "ay": 2.8,
                "by": 13.3,
                "aValue": 9,
                "bValue": 13
            }, {
                "date": "2015-01-05",
                "ay": 3.5,
                "by": 6.1,
                "aValue": 5,
                "bValue": 2
            }, {
                "date": "2015-01-06",
                "ay": 5.1,
                "by": 8.3,
                "aValue": 10,
                "bValue": 17
            }, {
                "date": "2015-01-07",
                "ay": 6.7,
                "by": 10.5,
                "aValue": 3,
                "bValue": 10
            }, {
                "date": "2015-01-08",
                "ay": 8,
                "by": 12.3,
                "aValue": 5,
                "bValue": 13
            }, {
                "date": "2015-01-09",
                "ay": 8.9,
                "by": 4.5,
                "aValue": 8,
                "bValue": 11
            }, {
                "date": "2015-01-10",
                "ay": 9.7,
                "by": 15,
                "aValue": 15,
                "bValue": 10
            }, {
                "date": "2015-01-11",
                "ay": 10.4,
                "by": 10.8,
                "aValue": 1,
                "bValue": 11
            }, {
                "date": "2015-01-12",
                "ay": 1.7,
                "by": 19,
                "aValue": 12,
                "bValue": 3
            }],

            "export": {
                "enabled": true
            },

            "chartScrollbar": {
                "offset": 15,
                "scrollbarHeight": 5
            },

            "chartCursor":{
               "pan":true,
               "cursorAlpha":0,
               "valueLineAlpha":0
            }
        });
    })(window.angular, window.AmCharts);
</script>
{% endblock %}