{% extends "index.html" %}
{% block title %}Visualize Data{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{% raw %}
<div ng-app="viz">
    <form ng-controller="VisualizationController as v">
        <div class="form-inline">
            <h3>HIP of the star you want to visualize?</h3>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" ng-model="hip" ng-change="visibility.showStarGo = true"
                           placeholder="HIP of the star" autofocus>
                </div>
                <button type="button" class="btn btn-primary" aria-label="submit hip" ng-show="visibility.showStarGo"
                        ng-click="getElements()">Go
                </button>
            </div>
        </div>

        <div ng-hide="visibility.showStarGo">
            <h3>Select catalogues
                <!-- TODO: Badge value doesn't update when number of buttons pressed change -->
                <!-- <span class="badge">{{(catalogs.buttons | filter: {pressed: true}).length}}</span> -->
            </h3>
            <button-group data-info="catalogs"></button-group>
        </div>

        <div ng-hide="visibility.showStarGo">
            <h3>Pick an element for X-axis</h3>
            <button-group data-info="xaxis" data-onlyone="true"></button-group>
        </div>

        <div ng-hide="visibility.showStarGo">
            <h3>For Y-axis?</h3>
            <button-group data-info="yaxis"></button-group>
        </div>

        <div ng-hide="visibility.showStarGo">
            <h3>And here you go...</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    Your chart will appear here...
                </div>
            </div>
        </div>
    </form>
</div>
{% endraw %}
<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    (function () {
        const app = angular.module('viz', []);

        const defaultVisibility = {
            showCatalogues: false,
            showXAxis: false,
            showYAxis: false,
            showChart: false,
            showStarGo: false
        };

        app.controller('VisualizationController', function ($scope, StarService) {
            $scope.visibility = defaultVisibility;
            $scope.catalogs = {
                aria_label: 'which catalogues to use?',
                buttons: [{value: 1, display: 'Catalogue 1', pressed: true},
                    {value: 2, display: 'Catalogue 2', pressed: true},
                    {value: 3, display: 'Catalogue 3', pressed: true}]
            };
            $scope.yaxis = {
                aria_label: 'elements for y axis',
                buttons: [{value: 1, display: 1}, {value: 2, display: 2}]
            };
            $scope.xaxis = {
                aria_label: 'elements for x axis',
                buttons: [{value: 1, name: 'xaxis', display: 1}, {value: 2, name: 'xaxis', display: 2}]
            };
            $scope.getElements = function (e) {
                if ($scope.hip.trim().length == 0)
                    return;

                StarService.getElements($scope.hip).then(function (elements) {
                    $scope.xaxis.buttons = [{value: 10, display: 10}, {value: 20, display: 20}]
                    $scope.yaxis.buttons = [{value: 10, display: 10}, {value: 20, display: 20}]

                    $scope.visibility.showStarGo = false;
                    $scope.visibility.showXAxis = true;
                    $scope.visibility.showYAxis = true;
                }, function (errors) {
                    console.log(errors);
                });
            };

            // Interaction Functions
        });

        app.directive('buttonGroup', function () {
            return {
                restrict: 'E',
                scope: {
                    info: '=',
                    onlyone: '='
                },
                templateUrl: '/partials/_button-group.html'
            }
        });

        app.factory('StarService', function ($http, $q) {
            return {
                getElements: function (hip) {
                    var deferred = $q.defer();
                    var url = '/star/' + hip + '/elements';
                    $http.get(url).success(function (data) {
                        deferred.resolve(data);
                    }).error(function (data) {
                        deferred.reject(data);
                    });
                    return deferred.promise;
                }
            }
        });
    })();
</script>
{% endblock %}